.parent {
    background-color: red;
    padding: 10px;
}

.parent div {
    margin-left: 1%;
    background-color: #ddd;
    float: left;
    height: 35px;
    text-align: center;
    width: 23.75%;
}

.clear {
    clear: both;
}
