.normal-div {
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 10px;
}

.square-div {
    width: 100px;
    height: 100px;
    background-color: #eee;
}

a {
    font-size: 30px;
}

a:visited {
    color: gray;
}

a:hover {
    color: #77f;
}

.in {
    font-size: 25px;
}

.in:focus {
    border-color: red;
    border-width: 3px;
    outline: none;
}

.ch-text {
    display: inline-block;
    font-size: 25px;
    margin-left: 7px;
}

.ch {
    scale: 1.8;
}

.ch:checked + .ch-text {
    color: red;
}

div:empty {
    border: 3px solid blue;
}