/*
you can't use identifier start with a number
.1name {
    color: red;
}
*/
p {
    font-size: 25px;
}

._name {
    color: red;
}

.-name {
    color: green;
}

.best-practice {
    background-color: black;
    color: chartreuse;
}
