body {
    margin: 0;
}

.parent div {
    padding: 15px 0;
    font-size: 30px;
    background-color: #ddd;
    float: left;
    margin-left: 1%;
    width: calc((100% - (1% * 5)) / 4);
    text-align: center;
}