.parent {
    margin-bottom: 20px;
    overflow: hidden;
}

.one {
    background-color: #eee;
    padding: 10px;
    float: left;
    width: 75%;
    height: 60px;
    margin-left: 20px;
    position: relative;
}

.user {
    background-color: #eee;
    padding: 10px;
    width: 50px;
    float: left;
    height: 60px;
    font-size: 50px;
}

.one span {
    position: absolute;
    top: 0;
    right: -15px;
    width: 10px;
    height: 100%;
    background-color: blue;
}

.one::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 100%;
    background-color: red;
}

.one::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px;
    border-color: transparent blue transparent transparent;
    top: 20px;
    left: -40px;
}
