div {
    color: #FF0;
    padding: 1px;
    padding-left: 10px;
    background-color: red; /* color Name */
    background-color: rgb(0 255 0); /*  red green blue*/
    background-color: rgb(0 255 0 / 30%); /*  red green blue Alpha channel*/
    background-color: #0000ff55;
    background-image: url("https://cdn.fs.teachablecdn.com/NdMrjZdMTFylWlkZ80MA");
    background-repeat: no-repeat;
}


