div {
    padding: 10px;
    margin: 15px;
    background-color: #eee;
    font-size: 30px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 
div:hover {
    overflow: visible;
} */