div {
    background-color: #eee;
    font-size: 35px;
}

.en2 {
    text-align: center;
}

.en3 {
    text-align: end;
}

.en4 {
    direction: rtl;
}

.en5 {
    text-align: center;
    direction: rtl;
}

.en6 {
    text-align: end;
    direction: rtl;
}

.ar2 {
    text-align: center;
}

.ar3 {
    text-align: end;
}

.ar4 {
    direction: rtl;
}

.ar5 {
    text-align: center;
    direction: rtl;
}

.ar6 {
    text-align: end;
    direction: rtl;
}