.parent {
    margin-bottom: 20px;
    overflow: hidden;
    counter-increment: i;
}

.user, .one {
    height: 60px;
    float: left;
    background-color: #eee;
    text-align: center;
    padding: 10px;
}

.user {
    width: 50px;
    font-size: 50px;
}

.one {
    margin-left: 20px;
    width: 75%;
    position: relative;
}

/* .one::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent green transparent transparent;
    border-width: 15px;
    top: 20px;
    left: -30px;
    width: 0;
    height: 0;
} */

.one::before {
    content: attr(data-text);
    display: none;
    position: absolute;
}

.one:hover::before {
    display: block;
    background-color: black;
    color: white;
    top: 0;
    left: 50%;
    font-size: 25px;
    margin-left: -105px;
    padding: 10px;
}

.one::after {
    content: counter(i);
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: -18px;
}

ul {
    list-style: none;
    position: relative;
    padding: 10px;
}

ul li {
    padding: 7px;
    font-size: 25px;
}

ul li::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-color: transparent green transparent transparent;
    border-style: solid;
    left: -5px;
    margin-top: 4px;
}
