.parent {
    background-color: red;
    padding: 10px;
    /* overflow: hidden; */
    /* height: 50px; */
}

.parent div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #eee;
    width: 25%;
    float: left;
    /* height: 100px; */
}

.clear {
    clear: both;
}