div {
    font-size: 30px;
    padding: 15px;
    margin: 15px;
    background-color: #ddd;    
}

.example1 {
    font-family: Arial, Helvetica, sans-serif;
}

.example2 {
    font-family: 'Times New Roman', Times, serif;
}
.example3 {
    font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 1000;
}